<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.7" targetFramework="net472" />
  <package id="DiscordRichPresence" version="1.0.121" targetFramework="net472" />
  <package id="LibZeroTier" version="1.0.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3-beta2" targetFramework="net472" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net472" />
</packages>